html {
    background-color: #fffefe;
    font-size: 16px;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
  
    /* these are specific to different browsers */
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }
  
  body {
    padding: 50;
    font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’, ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    background-color: rgb(250, 249, 247);
  }
  
  
  a {
    display: inline-block;
    text-decoration: none;
  }

  h1{
    text-align: center;
  }
  
  h2, h3 {
    margin:0;
    padding:0;
    padding-bottom:1.5rem;
  }
  
  /*.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    flex: 1;
  }*/
  
  .container {
    margin: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex:1;
  }

  .container2 {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:1;
  }
  
  .header {
    padding-top: 0rem;
    padding-left: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
  }

  .imagetext {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex:1;
    color: #8d1e1e;
  }
  
  .header h1 {
    display: block;
    border: 3px double;
    /* this will push other blocks out of the way */
  
    /* colors */
    background-color: #f1d6a8;
    color: #aa3c71;
  
    /* shapes */
    border-radius: 6px;
    font-size: 1.5rem;
    padding: 1.25rem;
    margin:0; /* removing the margin on h1 tags means the header pins to the top if we move */
  
  
    /* box-shadows are fancy */
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
  }
  
  .left_section {
    background-color: rgba(228, 154, 167, 0.7);
    flex: 0 1 auto;
    margin: 1rem;
    padding: 1.5rem;
  }
  
  .right_section {
    background-color: rgba(152, 186, 195, 0.7);
    flex: 1 2 auto;
    margin: 1rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  
  .footer {
    flex-shrink: 0;
    padding: 1rem;
    background-color: rgba(129, 205, 202, 0.8);
    font-size: 1.2rem;
    font-weight: 600;
    border: 2px double;
  }
  
  .footer a {
    color: rgb(0, 0, 0);
    text-decoration: underline;
  }
  
  .footer a:hover {
    /* Hue, saturation, luminosity, alpha */
    background-color: rgb(101, 189, 211);
    /* red, green, blue, alpha */
    color: rgb(31, 24, 57);
    text-decoration: none;
  }
  
  .subtitle {
    color: rgba(0, 0, 0, 0.8);
    margin: 0px;
    margin-bottom: 5px;
  }
  
  
  /* Deploy this with images as direct "children" and the images should pop into shape */
  .grid {
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
    width: 350px;
    height: 350px;
    margin: 0 auto;
  }
  
  .grid img {
    width: 100px;
    height: 150px;
  }

  img {
    width: 200px;
  }

  .chart_container {
    height: 100%;
    width: 100%;
  }

  .dropdown {
    font-size: 14px;
  }
  
  
  /* How To Write A Media Query For Small Screens */
  
  @media only screen and (max-width: 736px){
      /* Rules in here will only apply when a screen is the correct size */
      /* check it out by using your developer tools to shrink your screen-size */
      .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
  
      .box {
        width: 100%;
        width: -moz-available;          /* WebKit-based browsers will ignore this. */
        width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
        width: fill-available;
        align-items: flex-start;
      }
  
      .left_section {
        flex: 1 1 auto;
      }
      
      .right_section {
        flex: 1 1 auto;
        justify-content: flex-start;
      }
  }